
body{
margin: 0;
height: 100vh;
display: flex;
align-items: center;
}

.container{
display: flex;
justify-content: center;
width: 100vw;
}

.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
}
.red{
  background-color: red;
  width: 100px;
  height: 100px;
}

.green{
  background-color: green;
  width: 100px;
  height: 100px;
}