@charset "UTF-8";

body{
  height: 100vh;
  margin: 0;
  display: grid;

  grid-template-areas: "topo topo" "meio outro" "baixo baixo";
  /*grid-template-areas: áspas = quantidade de linhas conteudo dentro das áspas= quantidade de colunas*/

  grid-template-rows: 150px 1fr 100px;
  /*grid-template-rows: tamanha de cada linha, (fr = fração da tela ou seja ela se regula e as outras são fixas*/

  grid-template-columns: 1fr 300px;
   /*grid-template-rows: tamanha de cada Coluna, (fr = fração da tela ou seja ela se regula e as outras são fixas*/
}

header{
  grid-area: topo;
  /*grid-area: dar nome para as variáveis das linhas e colunas*/
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

main{
  grid-area: meio;
  background-color: red;
}

aside{
  grid-area: outro;
  background-color: blue;
}

footer{
  grid-area: baixo;
  background-color: gray;
}
