@charset "UTF-8";

/* background-image: linear-gradient(to bottom, rgb(29, 120, 223), white)*/

body{
  background-image: linear-gradient(to bottom, rgb(29, 120, 223), white)
 height: 100vh;
 margin: 0;
}

main{
  display: flex;;
  flex-direction: column;
  margin: auto;
  width: 600px;
  background-color: rgb(197, 197, 197);
  padding: 40px;
}

