*{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #3A0069;
    width: 100vw;
    height: 200px;
}

main{
    background-color: #A247EC ;
    width: 100vw;
    height: 20px;
}

footer{
    
    background-color: #3A0069;
    padding: 20px;
}