*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1e0037;
    height: 200px;
}

nav{
    background-color: #170527 ;
}

main{
    flex: 1 0 auto;
    background-color: #a247ec4d ;
}

footer{
    background-color: #120020;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a{
    color: white;
}